<section class="vihcle-body">
  <div class="container-fluid" style="background-color: #fff">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-5 col-lg-10 col-xl-10">
        <section class="vehicle-info">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <h5 class="head">Market / Currency</h5>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
              <h5 class="head mt-1">Domestic</h5>
            </div>
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
              <div class="form-check-inline">
                <label class="form-check-label" for="INR">
                  <input type="checkbox" class="form-check-input" id="INR" name="INR" value="INR">INR
                </label>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="overflow-x: auto;">
              <table class="table">
                <thead>
                  <tr>
                    <th class="table-head">Parts Cost / Vehicle</th>
                    <th class="table-head">Labor Cost / Vehicle</th>
                    <th class="table-head">Other Cost / Vehicle</th>
                    <th class="table-head">Estimated Cost / Vehicle</th>
                    <th class="table-head">Estimated Total Cost</th>
                  </tr>
                </thead>
                <tbody>
                  <td><input class="vehicle-text" name="text" type="text"></td>
                  <td><input class="vehicle-text" name="text" type="text"></td>
                  <td><input class="vehicle-text" name="text" type="text"></td>
                  <td><input class="vehicle-text" name="text" type="text"></td>
                  <td><input class="vehicle-text" name="text" type="text"></td>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
              <h5 class="head mt-1">Export</h5>
            </div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1">
              <div class="form-check-inline">
                <label class="form-check-label" for="dol">
                  <input type="checkbox" class="form-check-input" name="cost1" id="dol" value="something1">$
                </label>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
              <div class="form-check-inline">
                <label class="form-check-label" for="e">
                  <input type="checkbox" class="form-check-input" id="e" name="cost2" value="something2">€
                </label>
              </div>
            </div>
            
          </div>
          <div class="row mt-2">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-l2" style="overflow-x: auto;">
              <table class="table">
                <thead>
                  <tr>
                    <th class="table-head">Parts Cost / Vehicle</th>
                    <th class="table-head">Labor Cost / Vehicle</th>
                    <th class="table-head">Other Cost / Vehicle</th>
                    <th class="table-head">Estimated Cost / Vehicle</th>
                    <th class="table-head">Estimated Total Cost</th>
                  </tr>
                </thead>
                <tbody>
                  <td><input class="vehicle-text" name="text" type="text"></td>
                  <td><input class="vehicle-text" name="text" type="text"></td>
                  <td><input class="vehicle-text" name="text" type="text"></td>
                  <td><input class="vehicle-text" name="text" type="text"></td>
                  <td><input class="vehicle-text" name="text" type="text"></td>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-2"></div>
        </section>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
        <button class="btn btn-primary mb-4" routerLink="../../../../approver">Submit</button>
      </div>
    </div>
  </div>
</section>