label.btn.btn-success1 {
    background: #D8D8D8;
    border: 1px solid #979797;
    border-radius: 3px;
    color: #202020;
    padding: 3px 18px 3px 18px;
    background-color: #D8D8D8;
    cursor: pointer;
    font-size: 15px;
}
label.btn.btn-success1:hover{
    background: #05252d;
    color:#fff;
}
.select-offected {
    width: 76%;
    font-size: 14px !important;
}
section.vehicle-info {
    padding: 38px 0px 0px 54px;
}