<section class="vihcle-body">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
      <button class="btn btn-success mb-3" routerLink="../home/cost">Back</button>
    </div>
  </div>
  <div class="container-fluid" style="background-color: #fff">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <section class="vehicle-info">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <h5 class="head">Vehichle Information</h5>
              <hr>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <h4 class="head">Campaign / Service Measure no: </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <p class="para">EC& SM-2018-5</p>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mt-1">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <h4 class="head">Priority: </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <p class="para">A</p>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mt-1">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <h4 class="head">Number of affected Vehicles: </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1">
              <p class="para">10</p>
            </div>
            <div class="col-md-3">
              <button class="btn btn-success1 mb-3" (click)="withdraw()">View Vehicle List</button>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <h4 class="head">Reason: </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <p class="para">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                sed quia consequuntur</p>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mt-1">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <h4 class="head">Validity: </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <p class="para">6 Months</p>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <h5 class="head">Market Information</h5>
              <hr>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <h4 class="head">Affected Markets: </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <p class="para">Export | Selected Countries Name Here</p>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mt-1">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <h4 class="head">Service Measure Type: </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <p class="para">Informed</p>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mt-1">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <h4 class="head">Issue: </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <p class="para">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium,
                totam rem aperiam,</p>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mt-1">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <h4 class="head">Analysis & Root Cause: </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <p class="para">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium,
                totam rem aperiam,</p>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mt-1">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <h4 class="head">Series Solutions: </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <p class="para">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium,
                totam rem aperiam,</p>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mt-1">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <h4 class="head">Plant yard Solution: </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <p class="para">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium,
                totam rem aperiam,</p>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mt-1">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <h4 class="head">Field Solutions: </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <p class="para">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium,
                totam rem aperiam,</p>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <h5 class="head">Parts Information</h5>
              <hr>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <h4 class="head">Parts Arrangement Mode </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <p class="para">Billable</p>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mt-1">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <h4 class="head">Parts Arrangement Mode </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <p class="para">Billable</p>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mt-5">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <h5 class="head">Part Cost Details</h5>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-x-l0" style="overflow-x: auto;">
              <table class="table">
                <thead>
                  <tr>
                    <th class="table-head">Row Lables</th>
                    <th class="table-head">Count of VIN Number</th>
                    <th class="table-head">Part Cost / Vehichle</th>
                    <th class="table-head">Labor Cost / Hour</th>
                    <th class="table-head">Labor Cost / Vehichle</th>
                    <th class="table-head">Other Cost</th>
                    <th class="table-head">Total Cost</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="background:#D8D8D8"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th class="table-head">Total Cost</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="background:#D8D8D8"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mt-5">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <h5 class="head">Cost Breakup for parts</h5>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-x-l0" style="overflow-x: auto;">
              <table class="table">
                <thead>
                  <tr>
                    <th class="table-head">Sl.no</th>
                    <th class="table-head">Part numbers</th>
                    <th class="table-head">Part Description</th>
                    <th class="table-head">Cost / Quantity</th>
                    <th class="table-head">Quantity</th>
                    <th class="table-head">Part Cost / Vehicle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-sm-12 col-md-13 col-lg-12 col-xl-12">
              <h4 class="head">Failed Parts Disposal </h4>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <h4 class="head">Replaced Parts: </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <p class="para">Scrap</p>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mt-1">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <h4 class="head">Parts in Stock: </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <p class="para"></p>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <h4 class="head">Dealer </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <p class="para">Quarantine & Back to DICV</p>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mt-1">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <h4 class="head">PLC </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <p class="para">Quarantine / Scrap</p>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <h5 class="head">Cost Information</h5>
              <hr>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-sm-12 col-md-13 col-lg-12 col-xl-12">
              <h4 class="head">Market / Currency </h4>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <h4 class="head">Domestic </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <p class="para">INR</p>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mt-2">
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-x-l0" style="overflow-x: auto;">
              <table class="table">
                <thead>
                  <tr>
                    <th class="table-head">Parts Cost / Vehicle</th>
                    <th class="table-head">Labor Cost / Vehicle</th>
                    <th class="table-head">Other Cost / Vehicle</th>
                    <th class="table-head">Estimated Cost / Vehicle</th>
                    <th class="table-head">Estimated Total Cost</th>
                  </tr>
                </thead>
                <tbody>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tbody>
              </table>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-sm-12 col-md-13 col-lg-12 col-xl-12">
              <h4 class="head">Export </h4>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10" style="overflow-x: auto;">
              <table class="table">
                <thead>
                  <tr>
                    <th class="table-head">Parts Cost / Vehicle</th>
                    <th class="table-head">Labor Cost / Vehicle</th>
                    <th class="table-head">Other Cost / Vehicle</th>
                    <th class="table-head">Estimated Cost / Vehicle</th>
                    <th class="table-head">Estimated Total Cost</th>
                  </tr>
                </thead>
                <tbody>
                  <td>$</td>
                  <td>$</td>
                  <td>$</td>
                  <td>$</td>
                  <td>$</td>
                </tbody>
              </table>
            </div>
            <div class="col-md-2"></div>
          </div>
        </section>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-5"></div>
      <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-x-1 text-center">
        <button class="btn btn-danger mb-4">Reject</button>
      </div>
      <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-x-1 text-center">
        <button class="btn btn-primary mb-4" routerLink="../request-list">Approve</button>
      </div>
      <div class="col-md-5"></div>
    </div>
  </div>
</section>

<!-- modal -->

<div class="modal fade" id="vehicle" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th class="vehile-th text-center" style="width: 49%;">VIN</th>
              <th class="vehile-th text-center">Engine Number</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-sm" >Yes</button> -->
        <button type="button" class="btn btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>